/* normalize */
html{
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing:inherit;
}

ol, ul, li{
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
}
p{
  margin: 0;
  padding: 0;
}
a {
  display: inline-block;
}


:root{
  --primary-text-color:#212121;
  --secondary-text-color:#757575;
  --accent-color:#2196F3;
  --contact-color:rgba(255, 255, 255, 0.6);
  --logo-color:#000000;
  --button-color:#F5F4FA;
  --background-color:#2F303A;
  --white-color:#FFFFFF;
  --color-examples-border:#EEEEEE;
  --box-button:#AFB1B8;
}

body{
  font-family: 'Roboto', sans-serif;
  background-color: var(--white-color);

}

.list{
list-style: none;
}

/* conteiner */

.conteiner{
width: 1200px;
padding-left: 15px;
padding-right: 15px;
margin-left: auto;
margin-right: auto;
/* outline: 1px solid black; */
}

/* page-header */
.page-header{
  border-bottom: 1px solid #E5E5E5;
}
/* logo*/
.web{
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.2;
letter-spacing: 0.03em;
color:var(--accent-color) ;
text-decoration: none;
}
.logo{
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.2;
letter-spacing: 0.03em;
color: var(--logo-color);
text-decoration: none;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo:hover,
.logo:focus{
color:var(--accent-color);
}


/* footer */

.footer{
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .web-footer {
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.2;
letter-spacing: 0.03em;
color:var(--accent-color) ;
text-decoration: none;
}

.footer .logo-footer{
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.2;
letter-spacing: 0.03em;
color: var(--button-color);
}
/* .footer-color .logo-footer:hover,
.footer-color .logo-footer:hover{
color:var(--accent-color);
} */

/* footer-color */
.footer{
  background-color: var(--background-color);
}

.logo-web{
  margin-bottom: 20px;
}

.footer-conteiner{
  display: flex;
}
.logo-conteiner{
  display: block;
}

.footer-social-networks{
  display: flex;
  margin-top: 12px;
  margin-left: 70px;
}

.social-networks{
  display: block;

}
.title{
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  
  color: var(--white-color);

  margin-bottom: 20px;
  text-align:left;
  
}
.footer-icon{
  display: flex;
  gap: 10px;
}

.button-social-networks{
  border: none;
  width: 44px;
  height: 44px;
  padding: 12px;
  background-color:rgba(255, 255, 255, 0.1);
  border-radius: 120px;
  cursor: pointer;
  transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-social-networks:hover,
.button-social-networks:focus{
background-color: var(--accent-color);
}


.icon-button-networks{
  width: 20px;
  height: 20px;
  cursor: pointer;
  fill:var(--button-color);
  transform: scale(1);
  transform: transform 255ms cubic-bezier(0.4, 0, 0.2, 1) ;
  }
  
.button-social-networks:hover .icon-button-networks,
.button-social-networks:focus .icon-button-networks{
fill:var(--button-color);
transform: scale(1.3);
}

.footer-subscribe{
  display:block;
  width: 570px;
  height: 86px;
  margin-left: 93px;
  margin-top: 12px;
  margin-bottom: 20px;
  padding: 0;

  /* outline: 1px solid black; */
}

.footer-email{
  display: inline-block;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2F303A;
  margin-right: 8px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
}


.footer-subscribe-email{
display:block;
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 1.9;

letter-spacing: 0.06em;
color: var(--white-color);
margin-right: 10px;

}

.footer-button{
display:inline-flex;
align-items: center;
justify-content: center;
width: 200px;
height: 50px;
padding:10px 29px;

background: var(--accent-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
border: none;
cursor: pointer;
margin: 0;

}

.footer-subscribe-icon{
  display: block;
  width: 24px;
  height: 24px;
  
  object-fit: cover;
  background-size: cover;

  margin: 0;
  bottom: 0;

  /* outline: 1px solid black; */
}

/* conteiner-nav */
.conteiner-nav{
display: flex;
align-items: center;
}

/* site-nav */
.site-nav{
display: flex;
margin-left: 93px;
}

.link{
display: block;
padding-top:32px;
padding-bottom:32px;

font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--primary-text-color);
text-decoration: none;

transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.site-nav .link:hover,
.site-nav .link:focus
{
color: var(--accent-color);
}



.site-nav .item + .item{
  margin-left: 50px;
}


.item{
  position: relative;
  
}

.current:after{
  position: absolute;
  display: block;
  content: " ";
  width:100%;
  height:4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  bottom: 0;
  left: 0;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: scaleX(1);
  
}

.current:hover::after{
  transform: scaleX(0);
  
}





/* list-contacts */
.list-contacts{
display:flex;
align-items: center;
margin-left: auto;
}

.contact{
display: flex;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--secondary-text-color);
text-decoration: none;

align-items: center;
justify-content: center;

transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-contacts .contact:hover,
.list-contacts .contact:focus{
color: var(--accent-color);
}

.list-contacts .item + .item{
  margin-left: 50px;
}

/* icon-mail */
.icon-mail{
  width: 16px;
  height: 12px;
  margin-right: 10px;
  cursor: pointer;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-mail:hover,
.icon-mail:focus{
  fill: var(--accent-color);
}

.contact:hover .icon-mail,
.contact:focus .icon-mail{
  fill: var(--accent-color);
}

.icon-tell{
  width: 10px;
  height: 16px;
  margin-right: 10px;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.icon-tell:hover,
.icon-tell:focus{
  fill: var(--accent-color);
}

.contact:hover .icon-tell,
.contact:focus .icon-tell{
  fill: var(--accent-color);
}

/* items-contacts */

.contact-footer{
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 2;
letter-spacing: 0.03em;
color: var(--contact-color);
text-decoration: none;
margin-bottom: 9px;

transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-footer:hover,
.contact-footer:focus
{
color: var(--accent-color);
}

.address{
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
color: var(--button-color);

margin-bottom: 9px;
}


/* hero */
.conteiner-fon{
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 1px solid black; */

 background-image: linear-gradient(
  to right,
  rgba(85, 62, 62, 0.5),
  rgba(49, 40, 49, 0.5),
  rgba(55, 61, 55, 0.5)),
  url(../img/Fon.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero{
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px; 
}
.hero .hero-caption{
width: 696px;
margin-left: auto;
margin-right: auto;
margin-bottom: 30px;

font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 1.4;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color:var(--white-color);
}

.hero .hero-button{
padding: 10px 32px;

font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 1.9;
align-items:center;
text-align:center;
letter-spacing: 0.06em;
color: var(--button-color);

background-color:var(--accent-color);
min-width: 200px;
height: 50px;
border-radius: 4px;
cursor: pointer;
border:transparent;
}
.hero .hero-button:hover,
.hero .hero-button:focus{
color:var(--logo-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}


/* post */
.post-conteiner{
  display: flex;
  gap: 30px;
}
.post-conteiner .list-post{
  width: 270px;
  text-align: left;
}



.post{
text-align: center;
padding-bottom: 94px;
padding-top: 94px;
}

.post .post-title{
margin-bottom: 10px;

font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 1.2;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--primary-text-color);
}
.post .post-text{
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;

color: var(--secondary-text-color);
}


.icon-post-conteiner{
  width: 270px;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--button-color);
  border-radius: 4px;
  margin-bottom: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  /* padding: 25px 100px;
  margin-bottom: 30px; */
  /* outline: 1px solid black; */
}
.icon-post{
  width:70px;
  height:70px;
}

/* work */
.work{
  padding-bottom: 94px;
}

.work-conteiner{
display: flex;
gap: 30px;
}

.list-work{
 display: flex;
}
/* .work-conteiner .list-work+ .list-work{
  margin-left: 30px;
} */


.work .work-title{
margin-bottom: 50px;

font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.03em;
color: var(--primary-text-color);
}
.work-title-conteiner{
  position: relative;
}

.img-work-conainer{
  display: flex;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  justify-content: center;
  align-items: center;

  position: absolute;
  bottom: 0;
  left: 0;
}

.text-work-conteiner{
  display: block;
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--white-color);

}


/* team-fon */

.team-fon{
margin-left: auto;
margin-right: auto;
background-color: #F5F4FA;
}
/* team */
.team{
  padding-bottom: 94px;
  padding-top: 94px;
}
.team-conteiner{
display: flex;
justify-content: space-between;
}


.team-picture{
border: var(--white-color);
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
background: var(--white-color);
}
 
.picture{
margin-bottom: 30px;
}

.team .team-caption{
margin-bottom: 50px;

font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.03em;
color: var(--primary-text-color);
}
.team .team-title{
margin-bottom: 10px;

font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.03em;
color: var(--primary-text-color);
}
.team .team-text{
margin-bottom: 30px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.03em;
color: var(--secondary-text-color);
}

.box-icon{
  display:flex;
  width: 206px;
  height: 44px;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  justify-content: space-between;
  
  /* outline: 1px solid tomato; */
}
.button{
  border: none;
  width: 44px;
  height: 44px;
  padding: 12px;
  background-color:var(--white-color);
  border-radius: 120px;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus{
background-color: var(--accent-color);
}

.icon-button{
width: 20px;
height: 20px;
cursor: pointer;
fill:var(--box-button);

transition:fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-button:hover,
.icon-button:focus{
fill: var(--white-color);
}

.button:hover .icon-button,
.button:focus .icon-button{
fill: var(--white-color);
}

/* clients */
.clients{
  padding-top: 94px;
  padding-bottom: 113px;
}
.clients-caption{
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.03em;
color: var(--primary-text-color);
margin-bottom: 50px;
}


.box-clients{
  display:flex;
  width: 170px;
  height: 92px;
  list-style: none;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  align-items: center;
  cursor: pointer;
  justify-content: center;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

/* outline: 1px solid black; */
}
.box-clients:hover,
.box-clients:focus{
  border-color: var(--accent-color);
}

.box-caption{
  display: flex;
  gap: 30px;
  /* outline: 1px solid black; */
}

.box-button{
 display:block;
 width: 106px;
 height: 60px;
 fill:#AFB1B8;
 cursor: pointer;

 transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
 /* outline: 1px solid black; */
}

.box-button:hover,
.box-button:focus{
  fill:var(--accent-color);
}

.box-clients:hover .box-button,
.box-clients:focus .box-button{
  fill:var(--accent-color);
}

/*----------- Портфолио-----------  */

/* bar */
.examples{
padding-top: 94px;
padding-bottom: 94px;
}
.button-conteiner{
display: flex;
justify-content: center;
margin-bottom: 50px;
}
.button-conteiner .button-item + .button-item{
margin-left: 8px;
}

.examples .button-bar{
padding: 6px 22px;
min-width: 73px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.6;
text-align: center;
letter-spacing: 0.03em;

cursor: pointer;
background-color:var(--button-color);
color: var(--primary-text-color);
border:transparent;
border-radius: 4px;

transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
color 250ms cubic-bezier(0.4, 0, 0.2, 1),
box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.examples .button-bar:focus,
.examples .button-bar:hover{
background-color:var(--accent-color);
color:var(--button-color);
box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.3);
}
/* examples */
.examples-conteiner{
display: flex;
flex-wrap: wrap;
gap: 30px;
}
.examples-img{
display: block;
}


.examples-border{
width: 370px;
height: 404px;
border: 1px solid var(--color-examples-border);
cursor: pointer;
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.examples-border:hover{
 box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.examples-border:nth-child(n + 7){
  margin-bottom:0px;
  /* background-color: tomato; */
}

/* overlay portfolio  */
.examples-border-img{
  position: relative;
  overflow: hidden;

}


.examples-text-border{
  display: inline-flex;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
/*   
  outline: 1px solid black; */

}



.examples-border:hover .examples-overlay{
  transform:translateY(-100%);
}

.examples-overlay{
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform:translateY(100%);
}


.examples-paragraph{
display: block;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
letter-spacing: 0.03em;
color: var(--white-color);
width: 322px;
height: 168px;
}



.examples-table{
padding: 20px 24px;
}

.examples .examples-title{
/* text-align: auto; */
margin-bottom: 4px;

font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--primary-text-color);
}

.examples .examples-text{
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.9;
letter-spacing: 0.03em;
color: var(--secondary-text-color);
} 

/* backdrop */
.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background-color:rgba(0, 0, 0, 0.2);
  opacity: 1;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.backdrop.is-hidden{
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
}

.modal{
  position: absolute;
  display: block;
  width: 528px;
  height: 581px;
  background-color: var(--white-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
}
.modal-box{
  display: block;
  margin: 0;
  /* outline: 1px solid black; */
  width: 448px;
  /* height: 342px; */
  margin-left: 40px;
  margin-bottom: 20px;
}


.modal-box-list{
  list-style-type: none;
  margin-bottom: 20px;
}

.modal-box-item{
  /* outline: 1px solid black; */
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}
.modal-box-item:last-child{
  margin-bottom: 0;
}

.modal-box-united{
  position: relative;
}


.modal-box-text{
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 1.2;
letter-spacing: 0.01em;
margin-bottom: 4px;

color: #757575;

}
.comment-box{
  resize:none;
  height: 120px;
  cursor: pointer;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.comment-box:hover{
  border-color: var(--accent-color);
}

.modal-box-button{
  display: block;
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
 
  margin-left: 124px;
  margin-top: 30px;
  cursor: pointer;


font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 1.9;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: var(--white-color);
}


.modal-box-border{
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 448px;
  height: 40px;
  cursor:pointer;

  padding-left: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
  

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
  border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-box-border:hover{
  border: 1px solid var(--accent-color);
  border-radius: 4px;
}

.checkbox-markup{
/* outline: 1px solid black; */
position: relative;
}


.checkbox-input{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;

}

.checkbox-icon{
  display:inline-block;
  position: absolute;
  width: 16px;
  height: 15px;
  border:2px solid var(--logo-color);
  border-radius: 2px;
  background-color: var(--white-color);
  fill: var(--white-color);
  background-size:contain;
  padding:0;
  top:0;
  left: 13px;
  transform: translateY(30%);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
  border 250ms cubic-bezier(0.4, 0, 0.2, 1),
  background-origin 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-input:checked + .checkbox-icon{
 background-color: var(--accent-color);
 fill: var(--white-color);
 
 background-origin:border-box;
 border: var(--accent-color);
}

.modal-text{
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
margin-bottom: 12px;
}

.checkbox-text{
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
color: #757575;
margin-left: 36px;

cursor: pointer;
}


.checkbox-input-text{
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;

  letter-spacing: 0.03em;
  text-decoration-line: underline;
  
  color: var(--accent-color);
}

.modal-box-icons{
  position: absolute;
  top:50%;
  left:12px;
  transform: translateY(-50%);
 
  width: 18px;
  height: 18px;
  background-size: cover;
  cursor: pointer;
  fill:var(--logo-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-box-icons:hover{
  fill:var(--accent-color);
}

.modal-box-border:hover + .modal-box-icons,
.modal-box-border:focus + .modal-box-icons{
  fill:var(--accent-color);
}

.close{
  display:flex;
  padding:0;
  width:30px;
  height:30px;
  justify-content: center;
  align-items: center;
  border-radius: 45px;
  background-color: var(--white-color);
  margin-top:  8px;
  margin-left: 490px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.close-img{
  display: block;
  background-size: cover;
  object-fit: cover;
  fill:var(--logo-color);
  cursor: pointer;
  width:30px;
  height:30px;
}

.close-img:hover{
 fill: var(--accent-color);
}