@import "./utils/variables";
@import "./components/page-header";
@import "./components/site-nav";
@import "./components/list-contacts";
@import "./components/footer";
@import "./components/page-studio/hero";
@import "./components/page-studio/section-post";
@import "./components/page-studio/section-work";
@import "./components/page-studio/section-team";
@import "./components/page-studio/section-clients";
@import "./components/page-portfolio/portfolio";
@import "./components/logo";
@import "./components/backdrop";

html{
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing:inherit;
  }
  
  ol, ul, li{
    margin: 0;
    padding: 0;
  }
  
  h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
  }
  p{
    margin: 0;
    padding: 0;
  }
  a {
    display: inline-block;
  }
  
  
  
  body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--white-color);
  
  }
  
  .list{
  list-style: none;
  }