
   .examples{
    padding-top: 94px;
    padding-bottom: 94px;
    }
    .button-conteiner{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    }
    .button-conteiner .button-item + .button-item{
    margin-left: 8px;
    }
    
    .examples .button-bar{
    padding: 6px 22px;
    min-width: 73px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    
    cursor: pointer;
    background-color:$button-color;
    color: $primary-text-color;
    border:transparent;
    border-radius: 4px;
    
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .examples .button-bar:focus,
    .examples .button-bar:hover{
    background-color:$accent-color;
    color:$button-color;
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.3);
    }
    /* examples */
    .examples-conteiner{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    }
    .examples-img{
    display: block;
    }
    
    .examples-border{
    width: 370px;
    height: 404px;
    border: 1px solid $color-examples-border;
    cursor: pointer;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .examples-border:hover{
     box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
     0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
    
    .examples-border:nth-child(n + 7){
      margin-bottom:0px;
      /* background-color: tomato; */
    }
    
    /* overlay portfolio  */
    .examples-border-img{
      position: relative;
      overflow: hidden;
    
    }
    
    
    .examples-text-border{
      display: inline-flex;
      position: absolute;
      top:50%;
      left: 50%;
      transform: translate(-50%, -50%);
    /*   
      outline: 1px solid black; */
    
    }
    
    
    
    .examples-border:hover .examples-overlay{
      transform:translateY(-100%);
    }
    
    .examples-overlay{
    width: 100%;
    height: 100%;
    background-color:$overlay-color;
    position: absolute;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform:translateY(100%);
    }
    
    
    .examples-paragraph{
    display: block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: $white-color;
    width: 322px;
    height: 168px;
    }
    
    
    
    .examples-table{
    padding: 20px 24px;
    }
    
    .examples .examples-title{
    /* text-align: auto; */
    margin-bottom: 4px;
    
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $primary-text-color;
    }
    
    .examples .examples-text{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: $secondary-text-color;
    } 
    